
<br />
<br />
<br />
<%= @user.email %>
</br>
Listed items:
<% @listings.each do |item| %>
  <ul>
    <li><%= link_to item.title, item_path(item) %></li>
  </ul>
<% end %>
</br>
Leased items:
<%= @orders.count %>
</br>
Hired items:
<% @hires.count %>
