@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'https://fonts.googleapis.com/css?family=Bungee|Cairo';
//header
.custom-navbar {
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Bungee', cursive;
  a {
    color: white !important;
  }
  a:visited {
    color: white !important;
  }
  a:hover {
    background-color: white;
    color: black !important;
  }
}

//home

.banner {
 background-image: url('trees.jpeg');
 background-size: cover;
 color: white;
 height: 450px;
 margin-top: 0px;
 font-family: 'Bungee', cursive;
 text-align: center;
 h1 {
   font-family: 'Bungee', cursive;
   font-weight: bolder;
   text-align: center;
   padding-top: 200px;
 }
}

.btn-custom {
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}

.service-desc {
  margin-bottom: 20px;
  h3 {
    font-family: 'Bungee', cursive;
    font-weight: 100px;
  }
  p {
    font-family: 'Cairo', sans-serif;
  }
}

.home-footer {
   background-image: url('trees.jpeg');
   background-size: cover;
   height: 100px;
   margin-top: 150px;
}

.btn-nav {
  margin-top: 8px;
}

.btn-header {
  background-color: black !important;
  color: white !important;
}


//index

.index-background {
  background-color: #9C9C9C;
}

.categories-menu {
  padding: 15px;
  margin-left: 20px;
  height: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.index-item {
  min-height: 270px;
}

.index-image {
  min-height: 160px;
}

.thumbnail {
  border-radius: 0px;

}

//show

.show {
  padding-top: 70px;
}

.description-specs {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.hire-button {
  margin-top: 20px;
}
