@import "bootstrap-sprockets";
@import "bootstrap";

//header
.custom-navbar {
  height: 50px;
  background-color: black;
  color: white;
  a {
    color: white !important;
  }
  a:visited {
    color: white !important;
  }
  a:hover {
    background-color: white;
    color: black !important;
  }
}


//home

.home-banner {
  margin-top: 100px;
  background-image: url('gravel.jpg');
  background-size: cover;
  text-align: center;
  img {
    width: 50%;
    padding-bottom: 20px;
  }
}

#jumbotron-copy {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding: 10px;
}

//index
.background-color {
  background-color: black;
}

.categories-menu {
  padding: 15px;
  margin-left: 20px;
  height: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.index-item {
  min-height: 270px;
}

.index-image {
  min-height: 160px;
}

//show

.show {
  padding-top: 70px;
}

.description-specs {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.hire-button {
  margin-top: 20px;
}
